<template>
  <div class="entries-description">
    <p v-if="!status.self.invited" class="text-danger">
      You have not been invited or your token is invalid.
    </p>
    <p v-if="status.self.invited && status.self.joined">
      <span v-if="status.self.joined">
        <span v-if="status.self.assigned === null" class="text-warning">
          You have joined; it is not visible yet whether you got a slot.
        </span>
        <span v-if="status.self.assigned === true">
          <span v-if="status.event.sufficed === null" class="text-warning">
            You have joined and got a slot. If the event takes place, you're in.
          </span>
          <span v-if="status.event.sufficed === true" class="text-success">
            All event conditions are fulfilled and you are participating.
            <span v-if="!status.event.sticky" class="text-warning">
              People may still leave, causing the event to get dismissed.
            </span>
            <span v-if="status.event.sticky">The event is definitely taking place.</span>
          </span>
          <span v-if="status.event.sufficed === false">
            <span v-if="status.event.closed" class="text-danger">
              The event conditions cannot be fulfilled anymore. The event is dismissed.
            </span>
            <span v-if="!status.event.closed" class="text-warning">
              The event conditions are not fulfilled yet. People may still join, causing the event to take place.
            </span>
          </span>
        </span>
        <span v-if="status.self.assigned === false">
          <span v-if="status.event.sticky" class="text-danger">You did not get a slot, sorry. Maybe next time!</span>
          <span v-if="!status.event.sticky" class="text-warning">
            All slots are taken. People may still leave, causing you to get a slot.
          </span>
        </span>
      </span>
    </p>
  </div>
</template>

<script>
  export default {
    name: "EventEntriesDescription",
    props: ["status"],
  };
</script>

<style lang="scss" scoped>
  .entries-description {
    display: contents;
  }

  p {
    margin: 0.5em 0;
  }
</style>
