<template>
  <form method="post" :action="actionURL">
    <input name="token" type="hidden" v-model="token"/>
    <button type="submit" class="btn-success" :disabled="!mayJoin">Join</button>
  </form>
</template>

<script>
  export default {
    name: "EventJoin",
    props: ["token", "event", "status"],
    computed: {
      actionURL() { return `${process.env.apiURL}/${this.event._id}/join`; },
      mayJoin() { return this.status.self.invited && !this.status.self.joined && !this.status.event.closed; },
    },
  };
</script>
