
html {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
  Arial, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  padding: 1em 2em;
  background: fade_out(black, .9);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

form {
  display: block;
  width: 100%;
}

button {
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 0;
  background-color: fade_out(black, .9);
  padding: 0.7em 0.5em 0.5em;
  border: none;
  border-bottom: 0.4em solid #0975a7;
  font-weight: bold;

  &:hover, &:focus {
    background-color: fade_out(black, .86);
  }

  &.btn-success {
    border-bottom-color: darkgreen;
  }

  &.btn-warning {
    border-bottom-color: #A38306;
  }

  &.btn-danger {
    border-bottom-color: darkred;
  }

  &[disabled] {
    cursor: default;
    color: fade_out(black, .7);
    background-color: fade_out(black, .95);
    border-bottom-color: fade_out(black, .9);
  }
}

.text-success {
  color: darkgreen;
}

.text-warning {
  color: #A38306;
}

.text-danger {
  color: darkred;
}


a {
  text-decoration: none;
  color: #2f9cd0;

  &:hover, &:focus {
    color: #0975a7;
  }
}

#event-description {
  line-height: 180%;

  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
    letter-spacing: 0.04em;
    font-family: serif;
    text-transform: uppercase;
    font-weight: bold;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  p, pre, blockquote, h2, h3, h4, h5, h6 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  hr {
    margin: 2em 0;
    border-top: none;
    border-bottom: 1px solid rgba(103, 113, 121, 0.1);
  }

  .text-mono, code, pre {
    font-family: monospace;
  }

  img {
    margin: 1em 0;
    display: block;
    border: 0.6em double rgba(125, 178, 215, 0.3);
    padding: 0.6em;
  }

  blockquote {
    margin: 0.5em 0 0.5em 1em;
    border-left: .5em solid rgba(125, 178, 215, 0.3);
    padding-left: 0;
  }

  p code {
    background-color: rgba(125, 178, 215, 0.14);
    padding: 0.1em 0.3em;
  }

  pre {
    background-color: rgba(125, 178, 215, 0.14);
    padding: 0.5em 1em;

    > code {
      background-color: transparent;
    }
  }

  ul, ol {
    margin-left: 0.5em;

    li {
      padding-left: 0.2em;
    }
  }

  ul {
    list-style-type: circle;
    ul {
      list-style-type: disclosure-closed;
      ul {
        list-style-type: disc;
      }
    }
  }
}
